# -*- coding: utf-8 -*-
"""
Created on Wed Jan 16 14:56:06 2019

@author: saras
"""

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charst="utf-8">
    <title>{title} Flask Experiment<title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css')}}">
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <nav>
            <ul class="menu">
                <li><a href="{{ 'http://127.0.0.1:5000/greetingcard/gbname' }}">Goodbye</a></li>
                <li><a href="{{ 'http://127.0.0.1:5000/name' }}">Hello</a></li>
            </ul>
            </nav>
            </div>
            </header>
            {% block content %}
            {% endblock %}
            
</body>
  
</html>
            